body {
    background-color: antiquewhite;
}
.container {
    display: flex;
    gap: 2px;
    flex-direction: row;
}

@keyframes fadeBackground {
    0% {
        background-image: url("../images/programacion1.jpg");
    }

    50% {
        background-image: url("../images/programacion2.jpg");
    }

    100% {
        background-image: url("../images/programacion1.jpg");
    }
}

.header1 {
    font-family: cursive;
    font-size:4cap;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    color: rgb(243, 169, 134);
    animation: fadeBackground 5s infinite alternate;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.celements1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    padding: 10px;
    height: 50px;
    margin: 20px;
    border-style: groove;
    border-color: rgb(197, 236, 236);
    background-color: turquoise;
}

.celements1 {
    flex: 1;
    min-width: 200px;
}
.celements1:hover {
    background-color: tomato;
}

.iframe iframe {
    width: 1280px;
    margin: 20px;
    height: 700px;
    background-image: url("../images/iframeGif.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

hr {
    border-style: solid;
    border-color: brown;
}

@media (max-width: 800px) {
    body {
        width: 90%;
    }
    .container {
      flex-direction: column;
    }
    .header1 {
        height: auto;
        font-size: 4vw;
    }
    .celements1 {
        min-width: auto;
        font-size: 10vw;
        font-size: 10vh;
    }
    .iframe iframe {
        max-width:90%;
        max-height: 90%;
    }
    .celements1, .iframe iframe {
        margin: 2%;
    }
  }